* {
    font-family: 'Yeon Sung', cursive;
    color: rgb(201, 206, 214);
}

body {
    background-color: rgb(71, 75, 77);
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
}

.buttons {
    background-color: rgb(49, 51, 54);
    width: 300px;
    height: 200px;
    font-size: 30px;
    margin: 8px;
    display: inline-block;
}

.btnContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 250px;
    margin-top: 10px;
}

img {
    width: 100px;
    height: 80px;
    margin: 5px;
}

.round {
    display: flex;
    font-size: 25px;
    height: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.pointsContainer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 990px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.textsContainer {
    font-size: 20px;
    display: flex;
    height: 20px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

.roundResult {
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.resetBtn {
    display: none;
    width: 100px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: rgb(49, 51, 54);
    font-size: 15px;
    justify-content: center;
}